{% extends 'base.html.twig' %}

{% block title %}Scheduler: nouvelle matière{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Créer une nouvelle matière</h1>
            <hr/>
            {% include 'common/flash_message.html.twig' %}
            <div class="text-right margin-bottom-30">
                <a href="{{ path('subject_index') }}">
                    Retour à la liste
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            {{ include('admin/subject/_form.html.twig') }}
        </div>
    </div>
{% endblock %}