{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{label}} alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{message}}
        </div>
    {% endfor %}
{% endfor %}