<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>
        {% block title %}
            Scheduler: high school schedule manager
        {% endblock %}
    </title>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <!-- WRAPPER -->
    <div id="wrapper">
        {% include 'common/header.html.twig' %}
        {% include 'common/side-nav.html.twig' %}
            <!-- MAIN -->
            <div class="main">
                <!-- MAIN CONTENT -->
                <div class="main-content">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <!-- END MAIN CONTENT -->
            </div>
            <!-- END MAIN -->
        {% include 'common/footer.html.twig' %}
    </div>
    <!-- END WRAPPER -->
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
</body>
</html>
